/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body { 
    display: flex;
    justify-content: center;
    margin: 0; 
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    box-sizing: border-box;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-top: 8px;
    margin-bottom: 5px;
}

.title-afficher-plus {
    margin-bottom: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Balises du Header */


header {
    display: flex;
    justify-content:space-between;
    margin-bottom: 60px;
}

nav ul {
   display: flex;
   gap: 66px; 
   list-style: none;
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   font-size: 16px;
}

header img {
    width: 61.09px;
    height: 19px;
    margin-top: 30px;
}


nav a:hover {
    color: #9747FF;
    padding-top: 14px;
    border-top: #9747FF solid 2px; 
}

/* Section numéro 1 */

.title-form {
    margin-bottom: 8px;
}

.subtitle-form {
    margin-top: 0;
}

.form_location {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-bottom: 35px;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
    height: 47px;
    width: 50px;
    background-color: #F2F2F2;
}

.label i {
    display: inline-block; 
    width: 14px; 
    height: 18px; 
    font-size: 18px;
    color: black;
}

.input {
    display: flex;
    align-items: center;
    height: 47px;
    width: 195px;
}

.input input {
    width: 100%;
    height: 100%; 
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

input::placeholder {
    color: black; 
    font-size: 18px; 
    font-weight: bold;
    text-align: center;
}

.button {
    display: flex;
    align-items: center;
    height: 47px;
    width: 132px; 
}

.button button {
    width: 100%;
    height: 100%; 
    border: none;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.container-filtre {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 0;
    margin-bottom: 35px;
}

.label-filtre {
    display: flex;
    align-items: center;
}

.filtre {
    border: solid 2px #D9D9D9;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 13px 8px;
    
}
 .filtre h3 {
    margin: 0;
 }



.filtre:hover {
    background-color: #DEEBFF;
}

.filtre i {
    display: inline-block; 
    width: 22px; 
    height: 22px; 
    font-size: 22px;
    padding-right: 10px;
    padding-left: 10px;
}

.information {
    height: 24px;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 35px;
}

.information-icone {
    border: solid 1px #D9D9D9;
    border-radius: 50px ;
    width: 24px;
    margin-right: 10px;
   
}

.information-icone i {
    display: inline-block;
    width: 4px; 
    height: 10px; 
    font-size: 10px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.information p {
    margin: 0;
}

/* Balises section numéro 3 */

.activites {
    padding: 30px;
    box-sizing: border-box;
    
}

.activites-marseille {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.activites-marseille a {
    width: 25%;
    display: block; 
    text-decoration: none; 
}

.activites-marseille .card {

    width: 100%;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
}

.activites-marseille .card img {
    object-fit: cover;
    border: none;
    border-radius: 20px 20px 0 0 ;
    width: 100%;
    height: 380px;
}

.activites-marseille .card .card-title {
    padding-left: 19px;
}

/* Balises du footer */

footer {
    background-color: #F2F2F2;
}

.informations-footer {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}

.informations-footer-bloc {
    display: flex;
    flex-direction: column;
    width: 32%;
    gap: 15px;
}

.informations-footer-bloc h2 {
    margin: 0;
}
.informations-footer-bloc p {
    margin: 0;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {

        padding: 0 20px;
    }
    .container-filtre {
        flex-wrap: wrap;
    }
    .label-filtre {
    
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-marseille .card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

